
main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
}

.cabecalho svg {
    width: 40px;
}

.cabecalho nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-grow: 1;
}

.cabecalho nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.cabecalho nav > div a {
    font-family: 'Waze';
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

.cabecalho nav > div button {
    border: 2px solid #000;
    background-color: #fff;
    padding: 8px 20px;

    border-radius: 20px;
    font: 700 16px 'Waze';
}





.comunidade {
    border-radius: 10px;
    background-image: url('/public/assets/img/pessoas.webp');
    background-size: cover;
    background-position: 0px -300px;
    height: 230px;

    color: #fff;
}

.comunidade .conteudo {
    border-radius: 10px;
    padding: 60px;

    background-color: #00000075;
    height: 100%;
}

.comunidade h1 {
    font: 600 52px 'Waze';
    word-spacing: 12px;
}

.comunidade h2 {
    font: 500 22px 'Waze';
    margin-bottom: 10px;
}


.pessoas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font: 500 120% 'Waze';
        background-color: #F2F4F7;
        border-radius: 10px;
        padding: 50px 30px;
        margin: 20px 0px;

}

.pessoas p {
    width: 50%;
}

.pessoas img {
    width: 50%;
    height: 500px;
}


.editores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    height: 500px;
}

.editores img {
    border-radius: 10px;
    width: 60%;

}

.editores-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #FCE354;
    font: 500 18px 'Waze';
    padding: 80px 45px;
    border-radius: 10px;

}

.editores-esquerda p {
    margin: 20px 0px;
}

.editores-esquerda button{
    width: 100%;
    height: 65px;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font: 700 16px 'Waze';
    border: none;
}

.espaco {
    margin-inline: 50px;;
}